---
// src/pages/index.astro
import "../styles/global.css";
import Nav from "../components/nav.astro";
import Hero from "../components/hero.astro";
import USP from "../components/usp.astro";
import Projet from "../components/projet.astro";
import Price from "../components/price.astro";
import Timeline from "../components/timeline.astro";
import Contact from "../components/contact.astro";
import Footer from "../components/footer.astro";
---

<html lang="fr">
  <head>
    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NPTGBF2L');
    </script>
    <!-- End Google Tag Manager -->     
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Agence Web | Ayve, Création de Sites Internet modernes en 21 jours</title>
    <link rel="canonical" href="https://ayve.fr/" />
    <meta name="description" content="Ayve est une agence web spécialisée dans la création de sites vitrines modernes et performants. Nous concevons des sites clés en main, rapides, responsives et optimisés SEO, livrés en seulement 21 jours. Profitez d’un audit gratuit et d’une formation offerte pour prendre en main votre site." />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&f[]=chillax@200,300,400,500,600,700,1&f[]=general-sans@200,201,300,301,400,401,500,501,600,601,700,701,1,2&display=swap" rel="stylesheet"></link>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Ayve",
        "image": "https://www.ayve.fr/favicon.png",
        "url": "https://ayve.fr",
        "telephone": "+33695767084",
        "email": "contact@ayve.fr",
        "description": "Ayve est une agence web spécialisée dans la création de sites modernes, rapides et performants, livrés en 21 jours. Audit gratuit et 1h de formation offerte.",
        "priceRange": "€€",
        "sameAs": [
          "https://www.instagram.com/ayve.fr/",
          "https://www.youtube.com/channel/UCx3-ixGCMy-6BNw1Uhpi72g"
        ],
        "openingHoursSpecification": [{
          "@type": "OpeningHoursSpecification",
          "dayOfWeek": [
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday"
          ],
          "opens": "09:30",
          "closes": "18:30"
        }]
      }
    </script>

  </head>
  <body class="relative bg-white text-gray-900 min-h-screen">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPTGBF2L"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <Nav />
    <Hero />
    <USP />
    <Projet />
    <Price />
    <Timeline />
    <Contact />
    <Footer />
    <script src="/src/scripts/countDown.ts"></script>
    <script type="module" src="/scripts/formulaire.js"></script>
  </body>
</html>