---
// src/pages/index.astro
import "../styles/global.css";
import Nav from "../components/nav.astro";
import Hero from "../components/hero.astro";
import USP from "../components/usp.astro";
import Projet from "../components/projet.astro";
import Price from "../components/price.astro";
import Timeline from "../components/timeline.astro";
import Contact from "../components/contact.astro";
import Footer from "../components/footer.astro";
---

<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Boostez votre visibilité avec Ayve : sites web modernes, rapides et clés en main en 21 jours. Audit gratuit inclus." />
    <title>Ayve – Création de sites web modernes et performants en 21 jours</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901,1,2&f[]=chillax@200,300,400,500,600,700,1&f[]=general-sans@200,201,300,301,400,401,500,501,600,601,700,701,1,2&display=swap" rel="stylesheet"></link>
    <meta name="description" content="Le site est en cours de construction, mais nous prenons déjà vos projets." />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body class="relative bg-white text-gray-900 min-h-screen">
    <!-- Navigation -->
    <Nav />
    <Hero />
    <USP />
    <Projet />
    <Price />
    <Timeline />
    <Contact />
    <Footer />
    

    <script src="/src/scripts/countDown.ts"></script>
    <script type="module" src="/scripts/formulaire.js"></script>
  </body>
</html>